#clock {
	position: relative;
}

/*#clock img {
	position: relative;
}*/


#hour {
	position: absolute;
	/*transform: translate(-100%, -100%);*/
	z-index: 1;
}

#minute {
	position: absolute;
	/*transform: translateY(-100%);*/
	z-index: 2;
}

#second {
	position: absolute;
	/*transform: translateX(-100%);*/
	z-index: 3;
}
#face {
	position: absolute;
}
